::selection {
  background-color: $blue;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background-color: $blue;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background-color: $blue;
  color: #fff;
  text-shadow: none;
}

.visually-hidden {
  position: absolute;
  top: 999999;
  left: 999999;
  height: 0;
  width: 0;
  opacity: 0;
}