ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

.list {
    font-weight: 500;

    &.list--two-col {
        text-align: center;

        @media screen and ($tablet) {
            text-align: left;
            column-count: 2;
        }

    }

    .list-item {
        margin-left: 20px;

        &:before {
            content: '';
            display: inline-block;
            position: relative;
            top: -3px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-right: 15px;
            margin-left: -20px;
            background-color: $blue;
        }

    }

}
